
/* panel styles */ 
.panel {
  background:white;
  border: 1px solid black; 
  border-radius: 0px 0px 15px 15px;
  z-index:6;
}
.panel-wrapper {
  width:inherit;
  position:relative;
  overflow:hidden;
}
.panel .panel-header {
  display: flex;
  position: relative;
  background-color:black;
  color: white;
  width: 100%;
  height:20px;
}
.panel .panel-header .panel-title {
  left:50%;
  font-size: 1em;
}
.panel .panel-header .panel-control-icons {
    top: 0px;
    left: 2px;
} 

.panel-content {
  display:flex;
  position:relative;
  height: 250px; 
  transition: height 200ms ease-in-out 10ms; 
}
.panel-padding {
  padding: 10px;
}

.panel-content.collapsed {
    height:0px;
}
.panel.noborder {
  border:none;
}
.panel.center {
  left:50vw;
}

/* music-navigation panel*/
div#music-navigation {
    user-select: none;
    top: 5px;
    right:2px;
}
div#music-navigation .albums {
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap ;
}
div#music-navigation .albums .album {
    width: 4em;
}
div#music-navigation .albums .album .album-thumbnail img {
    width: 1.5em;
    height: 1.5em;
    border-radius:15px;

} 
div#music-navigation .albums .album .album-title {
    font-size:0.4em;
} 
div.nav-album {
    font-size: 8px;
} 
div.nav-album img {
    width: 25px;
    height:25px;
}
div.nav-artist-row {
    margin-top: 2px;
} 
div.nav-album {
    cursor:move;
}  
/* breadcrumb panel */
div#breadcrumb .panel-content {
    padding: 4px;
}
div#breadcrumb {
    z-index:5;
    top: 4px;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    border: 1px solid black; 
    height: 30px; 
    overflow: hidden;
    border-radius: 15px;
}
div#breadcrumb #breadcrumb-wrapper {
    padding:4px;
    display:flex;
    flex-direction:row;
}
div#breadcrumb .breadcrumb-text {
    cursor:pointer;
    font-size: 10px; 
}
div#breadcrumb .breadcrumb-slash {
    font-size: 9px; 
    font-weight:bold;
    margin-left: 2px;
    margin-right:2px;
}
div#breadcrumb span:hover   {
    text-decoration: underline;
}
/* artists-panel */
div#artists-panel {
    align-items:center;
    justify-content: center;
}
div#artists-panel img.artist-thumbnail {
    width: 1.5em;
    height: 1.5em;
    border-radius:15px;
    cursor: pointer;
}
div#artists-panel div.artist-name {
    font-size:0.4em;
}

/* block-rater panel  */
div#block-rater {
    user-select: none;
    height:70vh; 
}
div#block-rater .panel-content {
    padding:0px;
    height:66vh;
}
div#block-rater ul {
    padding:2px;
    overflow-y:scroll;
    height:100%;
}
div#block-rater li {
    align-items:center;
    font-size: 10px;
    text-align:center;
    border:1px solid black;
    border-top: none;
}
div#block-rater li:first-child {
    border-top: 1px solid black;
}
div#block-rater li img.block-rater-item-thumbnail {
    width:50px;
    height:50px;
}
div#block-rater li .block-rater-item-rating {
    align-items:center;
    justify-content: center;
    width:50px;
    height:50px;
}
div#block-rater li .block-rater-item-info {
    width:63%;
}
div#block-rater li .block-rater-item-songName {
    font-size:12px;
    font-weight:bold;
}  
div#block-rater li .block-rater-item-score {
    font-size:24px;
    font-weight:bold;
}  