div.list-control {
    font-size:16px;
}
div.list-control-nav svg {
    cursor: pointer;
    margin: 2px;
    color:  rgb(15, 14, 14);
}
div.list-control-nav svg:hover {
    cursor: pointer;
    color: rgb(0, 115, 192);
    transition: 0.3s ease-in-out;
}
div.list-control-nav svg.selected {
    cursor: pointer;
    color: rgb(245, 245, 245); 
    transition: 0.3s ease-in-out;
}