div.wrapper {
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 10px;
    height: 140px;
    width: 200px;
}
div.title {
    width: 50px;
}
input {
    width: 40%;
    background-color: #282c34;
    border: 1px solid white;
    font-family: sans-serif;
    color: white;
}
img {
    width: 110px;
    height: 110px;
    border-radius:47px;
}
div.result {
    margin-top: 10px;
    height: 140px;  
}
div.result-row {
    margin: 0;
}
div#artist:hover {
    transition: ease-in-out 0.2s;
}
.grid {
    display: grid;
}
div#albums {
    width: 194px;
    padding: 6px;
    padding-right: 0px;
    grid-template-columns: repeat(4, 45px);
    grid-template-rows: repeat(auto-fit, 70px);
    max-height:60vh;
    overflow:hidden;
    gap: 3px;
    height: 313px;
}
div.album-result {
    width:100%;
    height:70%;
    cursor: pointer;
}
div.album-result.selected {
    background: yellow;
}
div.album-result img {
    width: inherit;
    height:inherit;
    border-radius: unset;
}
div.album-result .album-title {
    font-size: 6px;
}
