
div#grid-rater {
    display:grid;
    grid-template-columns: repeat(11,1fr) ;
    border: 1px solid #c9c9c970;
}
div.grid-rater-item {
    display: flex;
}
img.grid-rater-item-thumbnail {
    width: 50px;
    border: 1px solid #c9c9c970;
}
div.grid-rater-item-name {
    font-size: 12px;
    flex:1;
    border: 1px solid #c9c9c970;
}

div.grid-rater-column-header {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #c9c9c970;
}
div.grid-rater-row-header {
    position: relative;
    border-bottom: 1px solid #c9c9c970;
}
div.grid-rater-row-header-text {
    position: absolute;
    top: 30%;
    right: 5px;
    font-weight: bold;
    transform: translateY(-20%) rotate(270deg);
    height: 20px;
    transform-origin: right center;
    display: inline-block;
}
div.grid-rater-cell {
    position: relative;
    border-left: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    height: 120px;
    overflow-y:scroll;
}
div.grid-rater-cell-number {
    position: absolute;
    opacity: 0.5;
    top: 50%;
    left: 50%;
} div.grid-rater-cell-number.corner {
    position: absolute;
    top: 2px;
    left: 4px;
}

div.grid-rater-cell-items {
    user-select: none;
    display: flex;
    flex-direction:column;
    font-size: 16px;
    background: none;
}
