

/* panel styles */ 
div.sidebar .panel {
  width: 100%;
}
.panel {
  user-select: none;
  border: 1px solid rgb(123, 128, 133);
  z-index:6;
}
.panel-wrapper {
  width:inherit;
  position:relative;
  overflow:hidden;
}
.panel .panel-header {
  display: flex;
  position: relative;
  background-color:#14181c;
  font-size:20px;
  color: white;
  width: 100%;
  height:25px;
}
.panel .panel-header .panel-title {
  left:50%;
  font-size: 1em;
  background-color: inherit;
}
.panel .panel-header .panel-control-icons {
    top: 0px;
    left: 2px;
    background-color: inherit;
} 

.panel .panel-header .panel-control-icons svg.button.right {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: inherit;
} 

.panel-content {
  display:flex;
  position:relative;
  transition: height 200ms ease-in-out 10ms; 
  background-color: inherit;
}
.panel-padding {
  padding: 10px;
}

.panel-content.collapsed {
    height:0px;
}
.panel.noborder {
  border:none;
}
.panel.center {
  left:50vw;
}
 
/* left panels */ 

/* add panel */ 
div#add-panel {
    border: none;
}
div#add-panel-buttons {
    gap: 10px;
    width: 100%;
} 
div.add-panel-option svg {
    width:  20px;
    height: 20px;
    cursor: pointer;
    transition: fill ease 0.3s, transform ease 0.3s;
    transform: rotate(0deg);
}  
div.add-panel-option svg:hover {
    fill: rgba(1, 167, 1, 0.753);
}  
div.add-panel-option svg.clicked {
    transform:rotate(180deg);
}

/* music-navigation panel*/
div#music-navigation {
    top: 5px;
    right:2px;
    height:100%;
}
div#music-navigation .panel-content {
    margin: 0;
}
div#music-navigation .panel-padding {
    padding: 0;
}
div#music-navigation ul#nav-artists {
    width: 15vw;
    margin: 0;
    margin-top: 2px;
    padding: 0;
}
div#music-navigation li.nav-row {
    border-top: 1px solid rgb(182, 176, 176);
    cursor: pointer;
}
li.nav-row {
    font-size:18px;
}
li.nav-row img {
    width: 22px;
    height:22px;
}
li.nav-row span {
    margin-left: 3px;
}
li.nav-row {
    margin-top: 0px;
} 
li.nav-row-album .wrapper {
    width: 84%;
    margin-left: 26px;
} 
li.nav-row-album {
    background: rgb(211, 200, 200);
} 
li.nav-row-album img {
    width: 20px;
    height: 20px;
} 
li.nav-row-album span {
    font-size: 16px; 
}
div#music-navigation li.nav-row .left {
    width:70%;
}
div#music-navigation li.nav-row .right {
    width:30%;
}
div#music-navigation li.nav-row button {
    cursor:pointer;
    width: 35px;
    height:20px;
    font-size:16px;
}
div.nav-album {
    font-size: 16px;
} 
div.nav-album {
    cursor:move;
}  
/* album panel */
div.details-panel {
    text-shadow:rgb(0, 0, 0) 3px 0px 4px; 
}
div.details-panel .panel-content {
    height: 480px;
    background-image:linear-gradient(to bottom, #14181c 0px, #14181c 40px,#2c3440 200px);
}
div.details-panel .panel-content.collapsed {
    height: 0px;
}
div.details-panel .panel-padding {
    padding:0;
    color: rgb(145, 153, 161);
}
div.details-panel div.outer-grid {
    grid-template-columns: 50% 50%; 
    grid-template-rows: 40% 31% 39%;
}
div.details-panel img.thumbnail {
    width: 320px; 
    height: 100%;
    max-width: 100%;
    max-height:100%;
}
div.details-panel div.songs {
    user-select:text;
    grid-template-rows: 20% 70%;
    grid-row: span 2;
}
div.details-panel div.songs div.row{
    transition: color 4ms;   
}  

div.details-panel div.songs div.row:hover {
    color: green;
}  
div.songscorecategory-panelsection {
    font-size: 16px;
    grid-template-columns: 50% 50%;
}
div.songscorecategory-panelsection div.row {
    cursor: pointer;
}
div.details-panel div.big-text {
    font-size: 8rem;
}  
div.medium2-text {
    font-size: 2rem;
}
div.medium-text {
    font-size: 4rem;
} 

 /* musical panel */ 
div.musical-panel {
    user-select: none;
    width:auto;
    background: inherit;
} 
div.musical-panel .panel-padding {
    padding:0px;
    width: 100%;
}
div.musical-panel .panel-content {
    height:auto;
    overflow-y:auto;
    max-height: 89vh;
}
div.musical-panel ul {
    margin: 0;
    padding:0;
    width: 100%;
    overflow-y:auto;
}
div.musical-panel li {
    cursor:pointer;
    align-items:center;
    font-size: 16px;
    text-align:center;
    border-bottom:1px solid black;
}
div.musical-panel div.musical-panel-expandable-item {
    display: flex;
    cursor:pointer;
    align-items:center;
    font-size: 16px;
    text-align:center;
    border-bottom:1px solid black;
} 
div.musical-panel li:last-child {
    border-bottom:none;
}
div.musical-panel li img.musical-panel-item-thumbnail {
    width: 80px;
    height:100%;
}
div.musical-panel li .musical-panel-item-info {
    flex: 1;
    background: inherit;
}
div.musical-panel li .musical-panel-item-info-name{
    font-size: 24px;
}
div.musical-panel li .musical-panel-item-info-name:hover {
    text-decoration: underline;
}
div.musical-panel li .musical-panel-item-info-rating {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background:inherit;
    width: 80px;
    height: 80px;
}
div.musical-panel li .musical-panel-item-info-score {
    margin-top: 10px;
    font-size:38px;
    font-weight:bold;
    height: 100%;
    background: inherit;
}  
div.musical-panel li .musical-panel-item-info-score-descriptor {
    background: inherit;
    font-size: 16px;
    margin-bottom: 10px;
}  

/* scorecard */
div#scorecard {
    user-select: none;
    width:auto;
    background: inherit;
}
div#scorecard .panel-padding {
    padding:0px;
    width: 100%;
}
div#scorecard .panel-content {
    height:auto;
    overflow-y:auto;
    max-height: 89vh;
}
div#scorecard ul {
    margin: 0;
    padding:0;
    width: 100%;
    overflow-y:auto;
}
div#scorecard li {
    cursor:pointer;
    align-items:center;
    font-size: 16px;
    text-align:center;
    border-bottom:1px solid black;
}
div#scorecard li:last-child {
    border-bottom:none;
}
div#scorecard li:hover {
    background: rgb(35, 107, 26);
}
div#scorecard li:hover .block-rater-item-name {
    background: rgb(35, 107, 26);
}
div#scorecard li:hover .block-rater-item-artistName {
    background: rgb(35, 107, 26);
}
div#scorecard li:hover .block-rater-item-year {
    background: rgb(35, 107, 26);
}
div#scorecard li img.block-rater-item-thumbnail {
    width: 80px;
    height:100%;
}
div#scorecard li .block-rater-item-info {
    flex: 1;
    background: inherit;
}
div#scorecard li .block-rater-item-info-primary {
    font-size:16px;
    font-weight:bold;
    background: inherit;
}  
div#scorecard li .block-rater-item-rating {
    align-items:center;
    justify-content: center;
    width: 80px;
    height: 80px;
}
div#scorecard li .block-rater-item-score {
    margin-top: 10px;
    font-size:38px;
    font-weight:bold;
    height: 100%;
    background: inherit;
}  
div#scorecard li .block-rater-item-score-descriptor {
    background: inherit;
    font-size: 16px;
    margin-bottom: 10px;
}  