
/* panel styles */ 
div.sidebar .panel {
  width: 20vw;
}
.panel {
  background:white;
  border: 1px solid black; 
  border-radius: 0px 0px 15px 15px;
  z-index:6;
}
.panel-wrapper {
  width:inherit;
  position:relative;
  overflow:hidden;
}
.panel .panel-header {
  display: flex;
  position: relative;
  background-color:black;
  color: white;
  width: 100%;
  height:20px;
}
.panel .panel-header .panel-title {
  left:50%;
  font-size: 1em;
}
.panel .panel-header .panel-control-icons {
    top: 0px;
    left: 2px;
} 

.panel-content {
  display:flex;
  position:relative;
  height: 250px; 
  transition: height 200ms ease-in-out 10ms; 
}
.panel-padding {
  padding: 10px;
}

.panel-content.collapsed {
    height:0px;
}
.panel.noborder {
  border:none;
}
.panel.center {
  left:50vw;
}

/* music-navigation panel*/
div#music-navigation {
    user-select: none;
    top: 5px;
    right:2px;
    height:100%;
}
div#music-navigation .panel-content {
    margin: 0;
}
div#music-navigation .panel-padding {
    padding: 0;
}
div#music-navigation ul#nav-artists {
    width: 15vw;
    margin: 0;
    margin-top: 2px;
    padding: 0;
}
div#music-navigation li.nav-row {
    border-top: 1px solid black;
    cursor: pointer;
}
li.nav-row {
    font-size:18px;
}
li.nav-row img {
    width: 22px;
    height:22px;
}
li.nav-row span {
    margin-left: 3px;
}
li.nav-row {
    margin-top: 0px;
} 
li.nav-row-album .wrapper {
    width: 84%;
    margin-left: 26px;
} 
li.nav-row-album {
    background: rgb(211, 200, 200);
} 
li.nav-row-album img {
    width: 20px;
    height: 20px;
} 
li.nav-row-album span {
    font-size: 10px; 
}
div#music-navigation li.nav-row .left {
    width:70%;
}
div#music-navigation li.nav-row .right {
    width:30%;
}
div#music-navigation li.nav-row button {
    cursor:pointer;
    width: 35px;
    height:20px;
    font-size:6px;
}
div.nav-album {
    font-size: 8px;
} 
div.nav-album {
    cursor:move;
}  

/* artist panel */
div#artists-panel {
    align-items:center;
    justify-content: center;
    height: 45vh;
}
div#artists-panel .panel-padding {
    padding: 0px;
}
div#artists-panel img.artist-thumbnail {
    width: 200px; 
    height: 200px;
    max-width: 100%;
    max-height:100%;
    cursor: pointer;
}
div#artists-panel div.artist-name {
    font-size:0.4em;
}

/* block-rater panel  */
div#scorecard {
    overflow-y: auto;
    user-select: none;
    max-height: 90vh;
}
div#scorecard .panel-padding {
    padding:0px;
}
div#scorecard ul {
    width: 100%;
    margin: 0;
    padding:2px;
    height:100%;
}
div#scorecard li {
    cursor:pointer;
    align-items:center;
    font-size: 10px;
    text-align:center;
    border:1px solid black;
    border-top: none;
}
div#scorecard li:hover {
    background: rgb(216, 216, 177);
}
div#scorecard li:first-child {
    border-top: 1px solid black;
}
div#scorecard li img.block-rater-item-thumbnail {
    width:50px;
    height:50px;
}
div#scorecard li .block-rater-item-rating {
    align-items:center;
    justify-content: center;
    width:50px;
    height:50px;
}
div#scorecard li .block-rater-item-info {
    width:63%;
}
div#scorecard li .block-rater-item-songName {
    font-size:12px;
    font-weight:bold;
}  
div#scorecard li .block-rater-item-score {
    font-size:24px;
    font-weight:bold;
}  