
div.artist-albums-subpanel {
    display: flex;
}
div.artist-album {
    width: 100%;
}
div.artist-albums-subpanel .artist-album-gap {
    width: 16px;
}
div.artist-albums-subpanel .artist-album-thumbnail {
    width: 65px;
}
div.artist-albums-subpanel .artist-album-name {
    width: 50%;
}
div.artist-albums-subpanel .artist-album-name:hover {
    text-decoration: underline;
}
div.artist-albums-subpanel .artist-album-year {
    width: 30%;
}
div.artist-albums-subpanel .artist-album-score {
    width: 30%;
}
