
/* global panel styles */ 
.panel {
  user-select: none;
  border-left: 1px solid var(--color-general-border); 
  z-index:15;
  left: 0px;
  box-shadow: 9px 19px 8px 4px var(--color-box-shadow); 
  transition: left 300ms ease-in-out 10ms, 
              top 300ms ease-in-out 10ms; 
}
.panel.moveable {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}
div.panel div.panel-header {
  display: flex;
  background-color: var(--color-general-header);
  position:relative;
  justify-content: space-evenly;
}
div.panel div.panel-header div.panel-title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
div.panel div.panel-header div.panel-control-icons {
    width: 90%;
    background-color: transparent;
}

div.panel .panel-content {
  display:flex;
  position:relative;
  transition: height 200ms ease-in-out 10ms; 
  background-color: inherit;
}
.panel-padding {
  padding: 10px;
}

div#left-nav.collapsed {
    left:-408px;
}
div#rater-context-panel.collapsed {
    top: -100px; 
}

/* context panel */
div#rater-context-panel {
    position: absolute;
    top: 0;
    left:150px;
    width:36vw;
    height:90px;
    z-index: 1;
}
 


/* rater nav panel */ 
div.panel.rater-nav-panel {
    position: absolute;
    width: fit-content;
    height: fit-content;
}
div.panel.rater-nav-panel.top {
    top: 0;
}
div.panel.rater-nav-panel.bottom {
    bottom: 0;
}