

g.selected circle {
    opacity :1 !important;
}
g.selected text {
    opacity :1 !important;
}
g.dimmed circle {
    opacity: 0.5;
}
g.dimmed text {
    opacity: 0.5;
}
g.dimmed line {
    opacity: 0.5;

}