div.list-control {
    font-size:14px;
}
div.list-control-nav svg {
    cursor: pointer;
    margin: 2px;
    color:  #ddd;
}
div.list-control-nav svg:hover {
    cursor: pointer;
    color: #000;
    transition: 0.3s ease-in-out;
}
div.list-control-nav svg.selected {
    cursor: pointer;
    color: #000; 
    transition: 0.3s ease-in-out;
}