div.wrapper {
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 10px;
    height: 140px;
    width: 200px;
}
div.title {
    width: 50px;
}
input {
    width: 40%;
    background-color: #282c34;
    border: 1px solid white;
    font-family: sans-serif;
    color: white;
}
img {
    width: 110px;
    height: 110px;
    border-radius:47px;
}
div.result {
    margin-top: 10px;
    height: 140px;  
}
div.result-row {
    margin: 0;
}
div.result-row img:hover {
    box-shadow: 3px 3px 3px rgb(255, 255, 255);
    transition: ease-in-out 0.2s;
}
div#album-result {
    margin-top:0;
    margin-left: 10px;
    height: 447px;
    display: block;
}
div#album-result ul  {
    margin: 1px;
    list-style: none;
    padding-inline-start: 0;
    height:396px;
}   
div#album-result ul li  {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}   
div#album-result ul li:last-child  {
    border-bottom:unset;
}   
div#album-result ul li img  {
    width: 32px;
    height: 32px;
    border-radius:unset;
}   
div.nav-arrow {
    cursor: pointer;
    font-size: 40px; 
    font-weight: 800;
    text-align:center;
    height: 50px;
}   
nav#album-navbar {
    border-top: 1px solid white;
    grid-template-columns:1fr 1fr;
}
div.nav-arrow:first-child {
    cursor: pointer;
    font-size: 40px; 
    font-weight: 800;
    border-right: 1px solid white;
}   

div#artist-result {
    cursor: pointer;
}
div#artist-result:hover {
    background-color: rgb(5, 78, 17);
    transition: ease-in-out 0.2s;
}

.grid {
    display: grid;
}
#search {
    grid-template-columns: 1fr 2fr;    
    grid-template-areas: 
    'search albums'
    '. albums';
}
#artist-col {
    grid-area: search; 
}
#artist-result {
    grid-area: artist; 
}
#album-result {
    grid-area: albums; 
}

