.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh; 
}

.square {
    border: 1px solid white;
    height: 10vh;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover {
    border-color: #555;
    transition-duration: 500ms;
}
.square:hover .arrow {
    border-bottom-color:#555;  
    border-top-color:#555;  
    transition-duration: 500ms;
}

.arrow {
	width: 0;
    height: 0;
}

.up {
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-bottom: 3vh solid white;
}
.down {
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 3vh solid white;
}

