
div.artist-albums-subpanel {
    display: flex;
    flex-direction: column;
}
div.artist-album {
    width: 100%;
}
div.artist-albums-subpanel .artist-album-controls {
    width: 26px;
    font-size: 42px;
    height: 60px;
}
div.artist-albums-subpanel .artist-album-thumbnail {
    width: 65px;
}
div.artist-albums-subpanel .artist-album-name {
    width: 50%;
}
div.artist-albums-subpanel .artist-album-name:hover {
    text-decoration: underline;
}
div.artist-albums-subpanel .artist-album-year {
    width: 30%;
}
div.artist-albums-subpanel .artist-album-score {
    width: 30%;
}
