
div#left-nav ul {
    width: 100%;
    margin: 0;
    padding:0;
}
div#left-nav .panel-content {
    height: 100%;
    overflow-y:auto;
}
div#left-nav ul li {
    align-items:center;
    font-size: 16px;
    text-align:center;
    overflow-y:hidden;
}
div.nav-panel-item {
    display: flex;
    align-items:center;
    text-align:center;
    border-bottom:1px solid var(--color-panel-item-border);
    transition: background-color 100ms ease-in-out 20ms;  
} 
div.nav-panel-header-item {
    height: 20px;
    display: flex;
    background: var(--color-general-header); 
} 
div.nav-panel-header-item div.nav-panel-empty {
    width: 80px;
} 
div.nav-panel-header-item div.nav-panel-header-main {
    flex: 1
} 
div.nav-panel-header-item div.nav-panel-header-first {
    width: 60px;
} 
div.nav-panel-header-item div.nav-panel-header-second {
    width: 80px;
} 
div.alternate-titles {
    display: flex;
    cursor: pointer;
    flex-direction:column;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
div.nav-panel-header-item div {
    background: inherit;
    text-align: center;
}
div.nav-panel-item.smaller {
    height:55px;
}
div.nav-panel-item.album{
    background-color: var(--color-nav-album);
}
li:last-child {
    border-bottom:none;
}
img.nav-panel-item-thumbnail {
    width: 60px;
    height: 100%;
}
img.nav-panel-item-thumbnail.smaller {
    width: 55px;
    height: 55px;
}
.nav-panel-item-info {
    flex: 1;
    background: inherit;
}
.nav-panel-item-info-name {
    font-size: 20px;
}
.nav-panel-item-info-name span {
    display: inline-block;
}
.nav-panel-item-info-name span:hover {
    text-decoration: underline;
    cursor: pointer;
}
.nav-panel-item-info-name.smaller {
    cursor: pointer;
    font-size: 14px;
}

.nav-item-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26px;
    font-size: 42px;
    height: 100%;
}
.nav-item-controls.smaller button.vis-rater-button {
    font-size:12px;
    width: 24px;
    height: 24px;
}
.nav-panel-item-score {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background:inherit;
    height: 100%;
    width: 80px;
}
.nav-panel-item-score.album {
    font-size: 26px;
}
.nav-panel-item-year {
    width: 60px;
}
.nav-panel-item-score.smaller {
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    background:inherit;
    margin-top: 0;
    width: 70px;
    height: 100%;
}
.nav-panel-item-info-score-text {
    height: 100%;
    font-weight:bold;
    font-size:28px;
    background: inherit;
}  
.nav-panel-item-info-score-descriptor {
    background: inherit;
    font-size: 16px;
    margin-bottom: 10px;
}  
.nav-item-subpanel {
    display: flex;
    flex-direction: column;
}

div.nav-panel-item.song {
    height: 30px;
    background-color: var(--color-nav-song);
}
div.nav-panel-item.song div.nav-item-number {
    font-weight: bold;
    width: 80px;
}
div.nav-panel-item-score.song div.nav-panel-item-info-score-text {
    font-size: 26px;
    font-weight: 100;
}