@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500');
/* general styles */ 
* {
  font-family: 'Raleway', sans-serif;
}
.font-title {
  font-family: 'Abril Fatface', serif;
}
.font-normal {
  font-family: 'Raleway', sans-serif;
}
.grid {
  display:grid;
}
.flex {
  display: flex;
}
.flex.column {
  flex-direction:column;
}
.flex.col {
  flex-direction:column;
}
.flex.center {
  align-items:center;
}
img.item-thumbnail {
  width:40px;
  height:40px;
  border-radius:50%;
} 
.absolute {
  position: absolute;
}
.relative {
  position:relative;
}
.fixed {
  position:fixed;
}
/* drag & drop */ 
.draggable {
  cursor:move;
}
div.drop-target {
  height:100vh;
} 

 
.App.filterMode {
  cursor:crosshair;

}
.App {
  text-align: center;
  background-color: #fff;
  color: #000; 
  height: 100vh;
  overflow:hidden;
}
/* sidebar */
div.sidebar {
  position:absolute;
  flex-direction: column;
  display:flex;
}
div#right-sidebar {
  top:0px;
  right:0px;
} 
div#right-sidebar .panel {
  margin-top: 2px;
  margin-right:2px;
} 
div#left-sidebar .panel {
  margin-top: 2px;
  margin-left:5px;
} 
div#left-sidebar {
  top:10px;
  left:0px;
} 

div#controls {
  display:flex;
  margin: 0 auto;
  position: fixed;
  left:50vw;
  z-index:99;
}



/* rater */
svg.rater {
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0;
  bottom: 0;
  left:275px;
  right:0;
}
/* ui items */
.collapse-button {
    transition: transform 200ms ease-in-out 10ms;   
}  
.collapse-button.collapsed {
    transform: rotate(-90deg) 
}  

.expand-button.expanded {
  transform: rotate(-0deg) 
}  

.expand-button {
    transition: transform 100ms ease-in-out 10ms;   
    transform: rotate(-90deg) 
}  