@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500');
/* general styles */ 
* {
  font-family: 'Arial', sans-serif;
  color: #bccddf;
}

*::-webkit-scrollbar {
    width: 15px;
}
*::-webkit-scrollbar-thumb {
    background-color: #3c4758;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #667893;
}
*::-webkit-scrollbar-track {
    background-color: #20252e;
}
body {
  background:#2c3440;
  height: 100%;
  margin: 0;
}
.font-title {
  font-family: 'Abril Fatface', serif;
}
.font-normal {
  font-family: 'Raleway', sans-serif;
}
/* drag & drop */ 

.App {
  text-align: center;
  background-color:#2c3440;
  height: 100vh;
}

div#header {
  height: 60px;
  padding: 1em;
  text-align: center;
  display: flex;
}
div#header div#add-panel-buttons {
  width: 10%;
  display: flex;
}
div#header div#title {
  flex: 1;
  font-size: 72px;
  font-weight: bold;
  transform: matrix3d(0,4,0)
}
div#header svg {
    width: 65px;
    height: 65px;
    cursor: pointer;
    transition: fill ease 0.3s, transform ease 0.3s;
    transform: rotate(0deg);
}  
div#header svg:hover {
    fill: rgba(1, 167, 1, 0.753);
}  
div.add-panel-option svg.clicked {
    transform:rotate(180deg);
}

/* left-nav */

div#left-nav {
  position: absolute;
  background-color: #2c3440; 
  top: 90px;
  flex-direction: column;
  display:flex;
  height: 100vh;
  z-index: 10;
}

/* rater */
svg.rater {
  height: 95%; 
  width: 100%;
}
/* ui items */
.collapse-button {
    transition: transform 200ms ease-in-out 10ms;   
}  
.collapse-button.collapsed {
    transform: rotate(-90deg) 
}  

.sort-button.descending {
  transform: rotate(-180deg)
}

.expand-button.expanded {
  transform: rotate(-0deg) 
}  

.expand-button {
    transition: transform 100ms ease-in-out 10ms;   
    transform: rotate(-90deg) 
}  

