@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
* {
  font-family: 'Abril Fatface', serif;
}
.grid {
  display:grid;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-width: fit-content;
  min-height: 100vh;
}
.App-link {
  color: #61dafb;
}

header {
  font-size: 10em;
  color: white; 
}
.main {
  position: relative;
  background-color: #282c34;
  font-size: 16px;
  color: white;
  grid-template-columns: 1fr 8fr ;
  grid-template-rows: 20px;
  height: 100vh;
}
div.main.grid div#top-controls div.list-control-nav {
  float: left;
  margin-left: 60px; 
}
svg {
  margin-left: 10px; 
  width: 790px;
  height: 652px; 
}