
div#search {
    max-width: 450px; 
    min-width: 200px;
}
div.wrapper {
    border: 1px solid #3d3d3d;
    border-radius: 5px;
    font-size: 10px;
    height: 140px;
}
div.title {
    width: 50px;
}
div.result-row {
    margin: 0;
}
div#artist-col {
    margin-top: 10px;
}
