
#playlist-rater {
    max-width: 1250px;
}

li.playlist-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    user-select: none;
    text-align:left;
    cursor:move;
}
li.playlist-item img {
    width: 50px;
    height: 50px;
    margin-right: 12px;
}
.playlist-item-score{
    width: 30px;
    display: flex;
    flex-direction: column;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: bold;
    border-right:1px solid var(--color-general-border);
}
.playlist-item-name {
    width: 250px;
    white-space: nowrap;
}
.playlist-item-artist {
    width: 150px;
    white-space: nowrap;

}
.playlist-item-album {
    width: 300px;
    white-space: nowrap;
}
.playlist-item-score button {
    background: transparent;
    border: none;
}
li.playlist-item:hover {
    background-color: #211b23;
}
