@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.presection {
  margin-top: 15vh;
  margin-right : 15vh;
  height: 20vh;
}
.section {
  border: 1px solid white;
  height: 50vh;
  width: 50vh;
}

.section.right {
  position: relative;
}
.main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  margin-top: 6vh;  
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

header {
  font-size: 10em;
  font-family: 'Abril Fatface', serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
