@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500');
* {
  font-family: 'Raleway', sans-serif;
}

.font-title {
  font-family: 'Abril Fatface', serif;
}
.font-normal {
  font-family: 'Raleway', sans-serif;
}

.grid {
  display:grid;
}
.App {
  text-align: center;
  background-color: #e9dfdf;
  color: #000; 
  min-width: fit-content;
  min-height: 100vh;
}

header {
  font-size: 10em;
}
.main {
  position: relative;
  font-size: 16px;
  margin: 0 5px;
  grid-template-columns: 300px 2fr 3fr;
  grid-template-rows: 20px;
}
div.main.grid div#top-controls div.list-control-nav {
  float: left;
  margin-left: 60px; 
}
svg {
  margin-left: 10px; 
  width: 100%;
  height: 950px; 
}
div.compare-section {
  position:relative;
  border: 4px solid rgb(112, 35, 35);
  color: rgba(112,35,35);
  height:40px;
  width:180px;
  border-radius:5px;
}
div.compare-section button {
  width:50%;
  height:100%;
}
div.compare-section button.selected {
  background-color: black ;
  color: white;
}
div.compare-section::after  {
  position:absolute;
  top:-8px;
  left:4px;
  content: 'compare';
  background: #e9dfdf; 
  font-size:11px;
  text-transform: uppercase;
}
