div.float {
  border: 1px solid black;
  border-radius: 15px;
}

label#rater-zoom-level-control-label {
  position:absolute;
  top: -8px;
  left: 30%;
  text-align:center;
}
div#controls {
  display:flex;
  margin: 0 auto;
  position:absolute;
  left:550px;
  z-index:99;
}

div#rater-zoom-level-control {
    border:none;
    width:200px;
    position:absolute;
    left:300px; 
    right:0; 
    height:30px;
    font-size:16px;
    top: 10px; 
    z-index:5;
}
datalist#markers {
  display: flex;
  flex-direction: column;
  writing-mode: vertical-lr;
  justify-content:space-between;
  width: 200px;
}

